[Unit]
Description=Flask Application for Nube System Monitoring
After=network.target

[Service]
ExecStartPre=/bin/sleep 10
Type=simple
User=root
WorkingDirectory=<working_dir>
ExecStart=<working_dir>/app -p 1616 -r /data -g /data/rubix-service -d data -c config -a apps -b backup --device-type <device_type> --prod --auth
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rubix-service

[Install]
WantedBy=multi-user.target
